<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="node_modules/vue/dist/vue.js"></script>

</head>
<body>
    <div id="condition">
        <button @click="ischeck =! ischeck">check</button>
        <template v-if="ischeck">
            <div v-for="lang in LaPro">
                <p>{{ lang }}</p>

            </div>
            
        </template>
        <p v-show="ischeck"> check v-show</p>
    </div>
    

    <!-- <script src="index.js"></script> -->
    <script>
        var app = new Vue({
            el: '#condition',
            data: {
              ischeck: false,
              LaPro: ['php','android','css']
            },
            watch: {
               
            }
        });
        
    </script>
</body>
</html>